@import (inline) './vendor/reset.css';
@import './variables.less';
@import './vendor/octicons.less';

/* Component Styles */
@import '../heading/style.less';
@import '../post-list/style.less';
@import '../modal/style.less';

html, body {
  height: 600px;
  width: 400px;
  overflow: auto; 
}